.search{
    background-image: url("../../assets/background.jpg");
    height: 51.4rem; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.overlay{
    width: 100%;
    background: #00000069;
    height: 100%;
}

.search-box{
    width: 90%;
    align-items: center;
    margin: 50px;
    border-radius: 8px;
    background: #fff;
}

.title{
    margin-left: 10px ;
}
